<!DOCTYPE>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="veiwpoint" content="width=device-width,initial-scale=1.0">
    <title>Animated Login Form</title>
<link rel="stylesheet" href="./css/bootstrap-datetime picker.min.css">
<style type="text/css">
</style>
  </head>
  <body>
    <div class="container">
      <span></span>
      <span></span>
      <span></span>
      <form id="signinForm">
          <h2>Login</h2>
          <div class="inputBox">
              <input type="text" placeholder="Username" >
          </div>
          <div class="inputBox">
              <input type="password" placeholder="Password">
          </div>
          <div class="inputBox group">
              <a href="#">Forgot Password</a>
              <a href="#" id="signup">Signup</a>
          </div>
          <div >
            <button id="redirectButton" class="btn btn-lg btn-primary btn-block">Login</button>
          </div>
      </form>

  
      <script>
        let signup = document.querySelector('#signup');
        let body = document.querySelector('body');
        signup.onclick = function(){
            body.classList.add('signup');
        }
        // 找到按钮元素
        var redirectButton = document.getElementById('redirectButton');

        // 给按钮添加点击事件监听器
        redirectButton.addEventListener('click', function() {
          // 在点击时，将页面重定向到指定的登录页面
          window.location.href = "http://localhost:8080/chatroom";
        });
      </script>
    </div>
    </div>
  </body>
</html>
