<!DOCTYPE html>
<html login="en">
    <head>
        <meta charset="UTF-8">
        <meta name="veiwpoint" content="width=device-width,initial-scale=1.0">
        <title>Animated Login & Registration Form</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    </head>
<body>
    <div class="container">
        <span></span>
        <span></span>
        <span></span>
        <form id="signinForm">
            <h2>Login</h2>
            <div class="inputBox">
                <input type="text" placeholder="Username" >
            </div>
            <div class="inputBox">
                <input type="password" placeholder="Password">
            </div>
            <div class="inputBox group">
                <a href="#">Forgot Password</a>
                <a href="#" id="signup">Signup</a>
            </div>
            <button id="redirectButton" class="btn btn-lg btn-primary btn-block" value="Sign in">Login</button>
        </form>

        <form id="signupForm">
            <h2>Register</h2>
            <div class="inputBox">
                <input type="text" placeholder="Username">
            </div>
            <div class="inputBox">
                <input type="text" placeholder="Email Address">
            </div>
            <div class="inputBox">
                <input type="password" placeholder="Create Password">
            </div>
            <div id="passwordHelp" class="form-text text-muted">Password must be at least 8 characters long, include a lowercase letter, an uppercase letter,a number (from 0 - 9), and a special character (!@#%*&).</div><br>
            <div class="inputBox">
                <input type="password" placeholder="Confirm Password">
            </div>
            <div class="inputBox">
                <input type="submit" value="Register Account">
            </div>
            <div class="inputBox group">
                <a href="#">Already Have an Account? <b id="signin">Login</b> </a>
            </div>
        </form> 
    </div>
    <script>
        let signup = document.querySelector('#signup');
        let signin = document.querySelector('#signin');
        let body = document.querySelector('body');
        document.addEventListener('DOMContentLoaded', function() {
    // 监听密码输入字段的键入事件
        document.getElementById('inputPassword').addEventListener('keyup', function() {
              var password = this.value;
              // 更新正则表达式以包含数字
              var passwordPattern = /^(?=.*[A-Z])(?=.*[a-z])(?=.*[!@#%*&])(?=.*[0-9])[A-Za-z!@#%*&0-9]{8,}$/;
              var errorText = document.getElementById('passwordError');

         if (!passwordPattern.test(password)) {
             // 如果密码不符合要求，显示错误消息
             errorText.innerHTML = 'Password must contain at least one uppercase letter, one lowercase letter, one number, one special character (!@#%*&), and be at least 8 characters long.';
             } 
         else {
              // 如果密码符合要求，清除错误消息
              errorText.innerHTML = '';
              }
          });
        });
        // 找到按钮元素
        var redirectButton = document.getElementById('redirectButton');

        // 给按钮添加点击事件监听器
        redirectButton.addEventListener('click', function() {
          // 在点击时，将页面重定向到指定的登录页面
          window.location.href = "http://localhost:8080/chatroom";
        });
        signup.onclick = function(){
            body.classList.add('signup');
        }
        signin.onclick = function(){
            body.classList.remove('signup');
        }
    </script>
</body>
</html>
